<template>
	<!-- eslint-disable -->
	<div class="grid">
		<div class="col-12">
			<Breadcrumb :home="breadcrumbHome" :model="breadcrumbItems" />
		</div>
		<div class="col-12">
			<div class="card">
				<Toast />
				<TabView class="tabview-custom" ref="tabview4">
					<TabPanel>
						<template #header>
							<i class="pi pi-calendar"></i>&nbsp;&nbsp;
							<span>Notification</span>
						</template>
						<div class="card" style="height: 7em; margin: 0 0 2em 0;">
							<div class="formgroup-inline">
								<div class="field col-4">
									<label class="col-2.5">Module</label>
									<Dropdown style="max-width: 100%; width: 14em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name" placeholder="Select One"></Dropdown>
								</div>
								<div class="field col-4">
									<label class="col-2.5">Status</label>
									<Dropdown style="max-width: 100%; width: 14em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name" placeholder="Select One"></Dropdown>
								</div>
								<div class="field col-2" style="margin: 0 0 0 -5em;">
									<Button label="Go"></Button>
								</div>
							</div>
						</div>
						<DataTable :value="products" v-model:selection="selectedProducts" dataKey="id" :paginator="true"
							:rows="5" v-model:filters="filters"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10,25]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll" :globalFilterFields="['module','subject','date','status']">
							<Column filterField="module" field="module" header="Module" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									<span class="p-column-title">Module</span>
									{{slotProps.data.module}}
								</template>
								<!-- <template #filter="{filterModel,filterCallback}">
									<InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()"
										class="p-column-filter" :placeholder="`Search by name`"
										v-tooltip.top.focus="'Hit enter key to filter'" />
								</template> -->
							</Column>
							<Column filterField="subject" field="subject" header="Subject" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									<span class="p-column-title">Subject</span>
									{{slotProps.data.subject}}
								</template>
							</Column>
							<Column filterField="date" field="date" header="Received Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									<span class="p-column-title">Received Date</span>
									{{slotProps.data.date}}
								</template>
							</Column>
							<Column filterField="status" field="status" header="Status" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									<span class="p-column-title">Status</span>
									{{slotProps.data.status}}
								</template>
							</Column>
						</DataTable>
					</TabPanel>
					<TabPanel>
						<template #header>
							<i class="pi pi-user"></i>&nbsp;&nbsp;
							<span>Planning Order</span>
						</template>
						<div class="card" style="height: 7em; margin: 0 0 2em 0;">
							<div class="formgroup-inline">
								<div class="field col-3">
									<!-- <label class="col-2.5">Supplier</label> -->
									<InputText placeholder="Search..." style="max-width: 100%; width: 14em;" type="text" />
								</div>
								<div class="field col-2" style="margin: 0 0 0 -4em;">
									<Button label="Go"></Button>
								</div>
								<div class="field col-3">
									<label class="col-2.5">Reports</label>
									<Dropdown style="max-width: 100%; width: 10em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name" placeholder="Select One"></Dropdown>
								</div>
								<div class="field col-2" style="margin: 0 0 0 -4em;">
									<SplitButton label="Action" :model="items" class="p-button-info mr-2 mb-2"></SplitButton>
								</div>
								
							</div>
						</div>
						<DataTable :value="plannos" v-model:selection="selectedPlannos" dataKey="id" :paginator="true"
							:rows="5" v-model:filters="filters6"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10,25]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll"
							:globalFilterFields="['supplier','pr_num','line','need_by_date','approval_date','item_num','item_desc','qty','uom','location','note_to_buyer','note_to_supplier','manufacturer','currency','confirm_qty']">
							<Column field="supplier" header="Supplier" :sortable="true"
								headerStyle="width:14%; min-width:5rem;">
								<template #body="slotProps">
									{{slotProps.data.supplier}}
								</template>
							</Column>
							<Column f field="pr_num" header="PR Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.pr_num}}
								</template>
							</Column>
							<Column field="line" header="Line" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.line}}
								</template>
							</Column>
							<Column field="need_by_date" header="Need by Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.need_by_date}}
								</template>
							</Column>
							<Column field="approval_date" header="Approval Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.approval_date}}
								</template>
							</Column>
							<Column field="item_num" header="Item Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_num}}
								</template>
							</Column>
							<Column field="item_desc" header="Item Description" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_desc}}
								</template>
							</Column>
							<Column field="qty" header="Qty" :sortable="true" headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.qty}}
								</template>
							</Column>
							<Column field="uom" header="UOM" :sortable="true" headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.uom}}
								</template>
							</Column>
							<Column field="location" header="Location" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.location}}
								</template>
							</Column>
							<Column field="note_to_buyer" header="Note to Buyer" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.note_to_buyer}}
								</template>
							</Column>
							<Column field="note_to_supplier" header="Note to Supplier" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.note_to_supplier}}
								</template>
							</Column>
							<Column field="manufacturer" header="Manufacturer" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.manufacturer}}
								</template>
							</Column>
							<Column field="currency" header="Currency" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.currency}}
								</template>
							</Column>
							<Column field="confirm_qty" header="Confirm Qty" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.confirm_qty}}
								</template>
							</Column>
						</DataTable>
					</TabPanel>
					<TabPanel>
						<template #header>
							<i class="pi pi-search"></i>&nbsp;&nbsp;
							<span>Open PO</span>
						</template>
						<div class="card" style="height: 7em; margin: 0 0 2em 0;">
							<div class="formgroup-inline">
								<div class="field col-3">
									<label class="col-2.5">Supplier</label>
									<Dropdown style="max-width: 100%; width: 12em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name" placeholder="Select One"></Dropdown>
								</div>
								<div class="field col-3">
									<label class="col-2.5">PO Number</label>
									<InputText style="max-width: 100%; width: 11em;" type="text" />
								</div>
								<div class="field col-3">
									<label class="col-2.5">Status</label>
									<Dropdown style="max-width: 100%; width: 10em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name" placeholder="Select One"></Dropdown>
								</div>
								<div class="field col-2" style="margin: 0 0 0 -4em;">
									<Button label="Go"></Button>&nbsp;&nbsp;<Button class="p-button-secondary"
										label="Clear"></Button>
								</div>
								<div class="field col-1"></div>
							</div>
						</div>
						<div class="card" style="background-color: #478fcd; height: 4em; margin: 0 0 2em 0;">
							<h4 style="color: white; margin: -0.4rem 0 0 0"> Search Result </h4>
						</div>
						<p><strong>PO Number:</strong> 2112028, SATYA SAMITRA NIAGATAMA, PT.</p>
						<DataTable :value="openpo1s" v-model:selection="selectedOpenpo1" dataKey="id" :paginator="true"
							:rows="5" v-model:filters="filters4"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10,25]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll"
							:globalFilterFields="['line','item_num','item_desc','uom','currency','unit_price','quantity','amount','ship_to','arrival_at_wh','arrival_at_site','est_arrival_at_site','po_type','note_to_supplier','attachment','confirm_date','loe','status']">
							<Column field="line" header="Line" :sortable="true"
								headerStyle="width:14%; min-width:5rem;">
								<template #body="slotProps">
									{{slotProps.data.line}}
								</template>
							</Column>
							<Column f field="item_num" header="Item Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_num}}
								</template>
							</Column>
							<Column field="item_desc" header="Item Description" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_desc}}
								</template>
							</Column>
							<Column field="uom" header="UOM" :sortable="true" headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.uom}}
								</template>
							</Column>
							<Column field="currency" header="Currency" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.currency}}
								</template>
							</Column>
							<Column field="unit_price" header="Unit Price" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.unit_price}}
								</template>
							</Column>
							<Column field="quantity" header="Quantity" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.quantity}}
								</template>
							</Column>
							<Column field="amount" header="Amount" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.amount}}
								</template>
							</Column>
							<Column field="ship_to" header="Ship To" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.ship_to}}
								</template>
							</Column>
							<Column field="arrival_at_wh" header="Arrival at W/H" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.arrival_at_wh}}
								</template>
							</Column>
							<Column field="arrival_at_site" header="Arrival at Site" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.arrival_at_site}}
								</template>
							</Column>
							<Column field="est_arrival_at_site" header="Est. Arrival at Site" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.est_arrival_at_site}}
								</template>
							</Column>
							<Column field="po_type" header="PO Type" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.po_type}}
								</template>
							</Column>
							<Column field="note_to_supplier" header="Note to Supplier" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.note_to_supplier}}
								</template>
							</Column>
							<Column field="attachment" header="Attachment" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.attachment}}
								</template>
							</Column>
							<Column field="confirm_date" header="Confirmation Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.confirm_date}}
								</template>
							</Column>
							<Column field="loe" header="L/O/E" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.loe}}
								</template>
							</Column>
							<Column field="status" header="Status" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.status}}
								</template>
							</Column>
						</DataTable>
						<br />
						<p><strong>PO Number:</strong> 2112028, SATYA SAMITRA NIAGATAMA, PT.</p>
						<DataTable :value="openpo2s" v-model:selection="selectedOpenpo2" dataKey="id" :paginator="true"
							:rows="5" v-model:filters="filters5"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10,25]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll"
							:globalFilterFields="['line','item_num','item_desc','uom','currency','unit_price','quantity','amount','ship_to','arrival_at_wh','arrival_at_site','est_arrival_at_site','po_type','note_to_supplier','attachment','confirm_date','loe','status']">
							<Column field="line" header="Line" :sortable="true"
								headerStyle="width:14%; min-width:5rem;">
								<template #body="slotProps">
									{{slotProps.data.line}}
								</template>
							</Column>
							<Column f field="item_num" header="Item Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_num}}
								</template>
							</Column>
							<Column field="item_desc" header="Item Description" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_desc}}
								</template>
							</Column>
							<Column field="uom" header="UOM" :sortable="true" headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.uom}}
								</template>
							</Column>
							<Column field="currency" header="Currency" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.currency}}
								</template>
							</Column>
							<Column field="unit_price" header="Unit Price" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.unit_price}}
								</template>
							</Column>
							<Column field="quantity" header="Quantity" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.quantity}}
								</template>
							</Column>
							<Column field="amount" header="Amount" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.amount}}
								</template>
							</Column>
							<Column field="ship_to" header="Ship To" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.ship_to}}
								</template>
							</Column>
							<Column field="arrival_at_wh" header="Arrival at W/H" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.arrival_at_wh}}
								</template>
							</Column>
							<Column field="arrival_at_site" header="Arrival at Site" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.arrival_at_site}}
								</template>
							</Column>
							<Column field="est_arrival_at_site" header="Est. Arrival at Site" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.est_arrival_at_site}}
								</template>
							</Column>
							<Column field="po_type" header="PO Type" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.po_type}}
								</template>
							</Column>
							<Column field="note_to_supplier" header="Note to Supplier" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.note_to_supplier}}
								</template>
							</Column>
							<Column field="attachment" header="Attachment" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.attachment}}
								</template>
							</Column>
							<Column field="confirm_date" header="Confirmation Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.confirm_date}}
								</template>
							</Column>
							<Column field="loe" header="L/O/E" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.loe}}
								</template>
							</Column>
							<Column field="status" header="Status" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.status}}
								</template>
							</Column>
						</DataTable>
					</TabPanel>
					<TabPanel>
						<template #header>
							<i class="pi pi-inbox"></i>&nbsp;&nbsp;
							<span>Shipment Notice</span>
						</template>

						<div class="card" style="height: 7em; margin: 0 0 2em 0;">
							<div class="formgroup-inline">
								<div class="field col-3">
									<label class="col-2.5">Supplier</label>
									<InputText style="max-width: 100%; width: 12em;" type="text" />
								</div>
								<div class="field col-3">
									<label class="col-2.5">DO Number</label>
									<Dropdown style="max-width: 100%; width: 11em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name" placeholder="Select One"></Dropdown>
								</div>
								<div class="field col-3">
									<label class="col-2.5">Status</label>
									<Dropdown style="max-width: 100%; width: 10em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name" placeholder="Select One"></Dropdown>
								</div>
								<div class="field col-2" style="margin: 0 0 0 -4em;">
									<Button label="Go"></Button>&nbsp;&nbsp;<Button class="p-button-secondary"
										label="Clear"></Button>
								</div>
								<div class="field col-1"></div>
							</div>
						</div>
						<p><strong>DO Number:</strong> DO_ANCOL_001, ANCOL TERANG MENTAL PRINTING INDUSTRY, PT</p>
						<DataTable :value="shipments" v-model:selection="selectedShipments" dataKey="id"
							:paginator="true" :rows="5" v-model:filters="filters1"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10,25]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll"
							:globalFilterFields="['line','item_num','item_desc','uom','qty_order','qty_ship','delivery_date','arrival_at_site_date','ship_to','status']">
							<Column field="line" header="Line" :sortable="true"
								headerStyle="width:14%; min-width:5rem;">
								<template #body="slotProps">
									{{slotProps.data.line}}
								</template>
							</Column>
							<Column f field="item_num" header="Item Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_num}}
								</template>
							</Column>
							<Column field="item_desc" header="Item Description" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_desc}}
								</template>
							</Column>
							<Column field="uom" header="UOM" :sortable="true" headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.uom}}
								</template>
							</Column>
							<Column field="qty_order" header="Qty Order" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.qty_order}}
								</template>
							</Column>
							<Column field="qty_ship" header="Qty Ship" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.qty_ship}}
								</template>
							</Column>
							<Column field="delivery_date" header="Delivery Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.delivery_date}}
								</template>
							</Column>
							<Column field="arrival_at_site_date" header="Arrival at Site Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.arrival_at_site_date}}
								</template>
							</Column>
							<Column field="ship_to" header="Ship To" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.ship_to}}
								</template>
							</Column>
							<Column field="status" header="Status" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.status}}
								</template>
							</Column>
						</DataTable>
						<br />
						<p><strong>DO Number:</strong> DO_ANCOL_001, ANCOL TERANG MENTAL PRINTING INDUSTRY, PT</p>
						<DataTable :value="shipments1" v-model:selection="selectedShipments1" dataKey="id"
							:paginator="true" :rows="5" v-model:filters="filters3"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10,25]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll"
							:globalFilterFields="['line','item_num','item_desc','uom','qty_order','qty_ship','delivery_date','arrival_at_site_date','ship_to','status']">
							<Column field="line" header="Line" :sortable="true"
								headerStyle="width:14%; min-width:5rem;">
								<template #body="slotProps">
									{{slotProps.data.line}}
								</template>
							</Column>
							<Column f field="item_num" header="Item Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_num}}
								</template>
							</Column>
							<Column field="item_desc" header="Item Description" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_desc}}
								</template>
							</Column>
							<Column field="uom" header="UOM" :sortable="true" headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.uom}}
								</template>
							</Column>
							<Column field="qty_order" header="Qty Order" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.qty_order}}
								</template>
							</Column>
							<Column field="qty_ship" header="Qty Ship" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.qty_ship}}
								</template>
							</Column>
							<Column field="delivery_date" header="Delivery Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.delivery_date}}
								</template>
							</Column>
							<Column field="arrival_at_site_date" header="Arrival at Site Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.arrival_at_site_date}}
								</template>
							</Column>
							<Column field="ship_to" header="Ship To" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.ship_to}}
								</template>
							</Column>
							<Column field="status" header="Status" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.status}}
								</template>
							</Column>
						</DataTable>
					</TabPanel>
					<TabPanel>
						<template #header>
							<i class="pi pi-check-square"></i>&nbsp;&nbsp;
							<span>CAPA</span>
						</template>
						<div class="card" style="height: 7em; margin: 0 0 2em 0;">
							<div class="formgroup-inline">
								<div class="field col-4">
									<label class="col-2.5">Supplier</label>
									<Dropdown style="max-width: 100%; width: 14em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name" placeholder="Select One"></Dropdown>
								</div>
								<div class="field col-4">
									<label class="col-2.5">Status</label>
									<Dropdown style="max-width: 100%; width: 14em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name" placeholder="Select One"></Dropdown>
								</div>
								<div class="field col-2" style="margin: 0 0 0 -5em;">
									<Button label="Go"></Button>
								</div>
							</div>
						</div>
						<DataTable :value="capas" v-model:selection="selectedCapas" dataKey="id" :paginator="true"
							:rows="5" v-model:filters="filters2"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10,25]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll"
							:globalFilterFields="['supplier','doc_no','doc_date','subject','resp_date','response','status']">

							<Column filterField="supplier" field="supplier" header="Supplier" :sortable="true"
								headerStyle="width:14%; min-width:18rem;">
								<template #body="slotProps">
									{{slotProps.data.supplier}}
								</template>
								<!-- <template #filter="{filterModel,filterCallback}">
									<InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()"
										class="p-column-filter" :placeholder="`Search by name`"
										v-tooltip.top.focus="'Hit enter key to filter'" />
								</template> -->
							</Column>
							<Column field="doc_no" header="Document No" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.doc_no}}
								</template>
							</Column>
							<Column field="doc_date" header="Document Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.doc_date}}
								</template>
							</Column>
							<Column field="subject" header="Subject" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.subject}}
								</template>
							</Column>
							<Column field="resp_date" header="Response Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.resp_date}}
								</template>
							</Column>
							<Column field="response" header="Response" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.response}}
								</template>
							</Column>
							<Column filterField="status" field="status" header="Status" :sortable="true"
								headerStyle="width:14%; min-width:16rem;">
								<template #body="slotProps">
									{{slotProps.data.status}}
								</template>
								<!-- <template #filter="{filterModel,filterCallback}">
									<InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()"
										class="p-column-filter" :placeholder="`Search by name`"
										v-tooltip.top.focus="'Hit enter key to filter'" />
								</template> -->
							</Column>
						</DataTable>
					</TabPanel>
					<TabPanel>
						<template #header>
							<i class="pi pi-paperclip"></i>&nbsp;&nbsp;
							<span>Invoice</span>
						</template>
						<div class="card" style="background-color: #478fcd; height: 6.5em; margin: 0 0 -2em 0;">
							<h4 style="color: white;"> Top 10 Latest Invoices </h4>
						</div>
						<DataTable :value="top_invoices" v-model:selection="selectedInvoices" dataKey="id"
							:paginator="true" :rows="5" v-model:filters="filters3"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll"
							:globalFilterFields="['inv_num','inv_date','inv_amount','tax_num','tax_date','tax_amount','total','status']">

							<Column field="inv_num" header="Invoice Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.inv_num}}
								</template>
							</Column>
							<Column field="inv_date" header="Invoice Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.inv_date}}
								</template>
							</Column>
							<Column field="inv_amount" header="Invoice Amount" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.inv_amount}}
								</template>
							</Column>
							<Column field="tax_num" header="Tax Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.tax_num}}
								</template>
							</Column>
							<Column field="tax_date" header="Tax Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.tax_date}}
								</template>
							</Column>
							<Column filterField="tax_amount" field="tax_amount" header="Tax Amount" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.tax_amount}}
								</template>
							</Column>
							<Column filterField="total" field="total" header="Total" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.total}}
								</template>
							</Column>
							<Column filterField="status" field="status" header="Status" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.status}}
								</template>
							</Column>
						</DataTable><br />
						<div class="card" style="background-color: #478fcd; height: 6.5em; margin: 0 0 -2em 0;">
							<h4 style="color: white;"> Top 10 Open Receipts </h4>
						</div>
						<DataTable :value="open_receipts" v-model:selection="selectedReceipts" dataKey="id"
							:paginator="true" :rows="5" v-model:filters="filters4"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll"
							:globalFilterFields="['po_no','line_no','item_no','item_desc','qty_po','qty_rcv','total1','receipt_no','trx_date']">

							<Column field="po_no" header="PO Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.po_no}}
								</template>
							</Column>
							<Column field="line_no" header="Line" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.line_no}}
								</template>
							</Column>
							<Column field="item_no" header="Item Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_no}}
								</template>
							</Column>
							<Column field="item_desc" header="Item Description" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_desc}}
								</template>
							</Column>
							<Column field="qty_po" header="Qty PO" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.qty_po}}
								</template>
							</Column>
							<Column filterField="qty_rcv" field="Qty Rcv" header="Tax Amount" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.qty_rcv}}
								</template>
							</Column>
							<Column filterField="total1" field="total1" header="Total" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.total1}}
								</template>
							</Column>
							<Column filterField="receipt_no" field="receipt_no" header="Receipt No." :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.receipt_no}}
								</template>
							</Column>
							<Column field="trx_date" header="Trx Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.trx_date}}
								</template>
							</Column>
						</DataTable>
					</TabPanel>
				</TabView>
			</div>
		</div>
	</div>
</template>

<script>
 /* eslint-disable */
import {FilterMatchMode,FilterOperator} from 'primevue/api';
import ProductService from '../service/ProductService';
export default {
 data() {
     return {
         breadcrumbHome: {icon: 'pi pi-home', to: '/'},
		 breadcrumbItems: [
		 	{label:'Dashboard'}
		 ],
		 items: [
			{
				label: 'Update',
				icon: 'pi pi-refresh'
			},
			{
				label: 'Delete',
				icon: 'pi pi-times'
			},
			{
				separator:true
			},
			{
				label: 'Home',
				icon: 'pi pi-home'
			},
		],
         products: null,
			product: {},
			selectedProducts: null,
			filters: {
				'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'module': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'subject': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'date': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'status': {value: null, matchMode: FilterMatchMode.CONTAINS}
			},

         shipments: null,
			shipment: {},
			selectedShipments: null,
         
		 shipments1: null,
			shipment1: {},
			selectedShipments1: null,

         capas: null,
			capa: {},
			selectedCapas: null,
			filters2: {
				'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'supplier': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'doc_no': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'doc_date': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'subject': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'resp_date': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'response': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'status': {value: null, matchMode: FilterMatchMode.CONTAINS}
			},
		top_invoices: null,
			invoice: {},
			selectedInvoices: null,

		open_receipts: null,
			receipts: {},
			selectedReceipts: null,

		openpo1s: null,
			openpo1: {},
			selectedOpenpo1: null,
		
		openpo2s: null,
			openpo2: {},
			selectedOpenpo2: null,
		
		plannos: null,
			planno: {},
			selectedPlannos: null,
       }
    },
    productService: null,

	created() {
		this.productService = new ProductService();
		this.initFilters();
		this.initFilters2();
	},
	mounted() {
		this.productService.getProducts().then(data => this.products = data);
		this.productService.getCapa().then(data => this.capas = data);
		this.productService.getShipment().then(data => this.shipments = data);
		this.productService.getShipment1().then(data1 => this.shipments1 = data1);
		this.productService.getInvoice().then(inv_data => this.top_invoices = inv_data);
		this.productService.getReceipt().then(receipt_data => this.open_receipts = receipt_data);
		this.productService.getOpenpo1().then(data => this.openpo1s = data);
		this.productService.getOpenpo2().then(data1 => this.openpo2s = data1);
		this.productService.getPlanno().then(data => this.plannos = data);
	},
	methods: {
		clearFilter() {
            this.initFilters();
            this.initFilters2();
        },
		initFilters() {
            this.filters = {
                'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
				'module':  {value: null, matchMode: FilterMatchMode.CONTAINS},
                'subject': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'date': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'status': {value: null, matchMode: FilterMatchMode.CONTAINS}
            }
        },
		initFilters2() {
            this.filters2 = {
                'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
				'supplier': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'doc_no': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'doc_date': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'subject': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'resp_date': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'response': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'status': {value: null, matchMode: FilterMatchMode.CONTAINS},
            }
        }
	}
}
</script>