.p-toast.p-toast-top-right {
    z-index: 1000;
    top: 7rem;
}
body,html {
    font-size: 75%;
    @media screen and (min-width: 768px) {
        body {
           font-size: 100%;
        }
      }
}